<!DOCTYPE html>
<html lang="pt-BR">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <meta name="ROBOTS" content="NOODP" />
    <title><%= title %></title>
    <meta property="og:url" content="<%= t('recruiter.url') %>">
    <meta property="og:site_name" content="<%= t('recruiter.layout.header.site_name') %>">
    <!-- <meta property="og:image" content=""> -->
    <meta property="og:description" content="<%= t('recruiter.layout.header.meta_description') %>">
    <%= stylesheet_link_tag 'recruiter/application', :media => 'all' %>
    <%= javascript_include_tag "vendor/modernizr" %>
    <%= csrf_meta_tags %>
    <%= render 'recruiter/analytics' %>
  </head>

  <body>
    <%= render 'recruiter/top_menu' -%>
    <%= render 'recruiter/flashes' -%>
    <div id="middle">
      <div id="main_content" class="row">
        <div class="small-12 columns">
          <%= yield %>
        </div>
      </div>
    </div>
    <%= render 'recruiter/footer' %>
    <%= render 'recruiter/javascript' %>
  </body>
</html>
